numpy~=1.18.5
pandas~=1.1.2
torch~=1.11.0
matplotlib~=3.3.2
torchvision~=0.12.0
Pillow~=7.2.0
tqdm~=4.50.0
scikit-learn~=0.23.2
scipy~=1.5.2
pretrainedmodels~=0.7.4
tensorflow~=2.3.1
datasets~=1.1.0
netlib~=0.17
pathlib~=1.0.1
opencv-python~=4.5.2.54